<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    
    <h2>Gestion des utilisateurs</h2>
    <form action="/users/create" method="POST">
        <input type="text" name="name" placeholder="Nom d'utilisateur" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <button type="submit">Créer un utilisateur</button>
    </form>
    <form action="/users/update/userId">
        <input type="text" name="userId" placeholder="ID de l'utilisateur" required>
        <input type="text" name="newName" placeholder="Nouveau nom d'utilisateur">
        <input type="password" name="newPassword" placeholder="Nouveau mot de passe">
        <button type="submit">Modifier un utilisateur</button>
    </form>
    <form action="/users/delete" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="text" name="userId" placeholder="ID de l'utilisateur" required>
        <button type="submit">Supprimer un utilisateur</button>
    </form>

    <h2>Gestion des Catways</h2>
    <form action="/catways/create" method="POST">
        <input type="text" name="name" placeholder="Nom du Catway" required>
        <input type="text" name="catwayState" placeholder="État du Catway" required>
        <input type="text" name="type" placeholder="Type de Catway (long/short)" required>
        <input type="number" name="catwayNumber" placeholder="Numéro du Catway" required>
        <button type="submit">Créer un Catway</button>
    </form>
    <form action="/catways/update" method="POST">
        <input type="text" name="catwayId" placeholder="ID du Catway" required>
        <input type="text" name="newDescription" placeholder="Nouvelle description">
        <button type="submit">Modifier le Catway</button>
    </form>
    <form action="/catways/delete" method="POST">
        <input type="text" name="catwayId" placeholder="ID du Catway" required>
        <button type="submit">Supprimer le Catway</button>
    </form>
    <form action="/catways/details" method="GET">
        <input type="text" name="catwayId" placeholder="ID du Catway" required>
        <button type="submit">Afficher les détails du Catway</button>
    </form>

    <h2>Gestion des Réservations</h2>
    <form action="/reservations/create" method="POST">
        <input type="text" name="catwayNumber" placeholder="Nombre du Catway" required>
        <input type="text" name="clientName" placeholder="Nom du client" required>
        <input type="text" name="boatName" placeholder="Nom du bateau" required>
        <input type="date" name="checkIn" required>
        <input type="date" name="checkOut" required>
        <button type="submit">Enregistrer une réservation</button>
    </form>
    <form action="/reservations/delete" method="POST">
        <input type="text" name="reservationId" placeholder="ID de la réservation" required>
        <button type="submit">Supprimer une réservation</button>
    </form>
    <form action="/reservations/details" method="GET">
        <input type="text" name="reservationId" placeholder="ID de la réservation" required>
        <button type="submit">Afficher les détails de la réservation</button>
    </form>

    <h3>Liens</h3>
    <a href="/catways">Liste des Catways</a><br>
    <a href="/reservations">Liste des Réservations</a><br>

    <a href="<%= apiDocumentationLink %>">Voir la documentation de l'API</a>
</body>

<script>
   /*  Methode "put" pour le formulaire "user/updates"
    document.getElementById('updateForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        
        const userId = document.querySelector('input[name="userId"]').value;
        const newName = document.querySelector('input[name="newName"]').value;
        const newPassword = document.querySelector('input[name="newPassword"]').value;
        
        try {
            const response = await fetch(`/users/update`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
            },
                body: JSON.stringify({ id: userId, name: newName, password: newPassword })
            });
            const data = await response.json();
            console.log(data);
        } catch (error) {
            console.error('Error:', error);
        }
    });

         Fonction permettant l'activation de delete pour user
    async function deleteUser() {
    const userId = document.querySelector('input[name="userId"]').value;
    const response = await fetch(`/users/delete/${userId}`, {
        method: 'DELETE',
    });
    const data = await response.json();
    console.log(data);
}*/
    </script>
</html>
